{% load static %}

<html lang="en">

<head>
  <link href="{% static 'css/print.scss'%} " media="print" rel="stylesheet" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title> مقدر شیرزاد</title>
  <link href="https://fonts.googleapis.com/css2?family=FontName:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
  <link href="{% static 'css/themes/lite-purple.css'%} " rel="stylesheet" />
  <link href="{% static 'css/plugins/perfect-scrollbar.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/plugins/fontawesome-5.css'%}" />
  <link href="{% static 'css/plugins/metisMenu.min.css'%}" rel="stylesheet" />


  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
  <link href="{% static 'css/dropzone.css' %}" rel="stylesheet" type="text/css">


  <link rel="stylesheet" type="text/css" href="{% static 'fonts/custom_fonts.css' %}">

  <link rel="stylesheet" href="{% static 'css/plugins/smart.wizard/smart_wizard.min.css'%}" />
  <link rel="stylesheet" href="{% static 'css/plugins/smart.wizard/smart_wizard_theme_arrows.min.css'%}" />
  <link rel="stylesheet" href="{% static 'css/plugins/smart.wizard/smart_wizard_theme_circles.min.css'%}" />
  <link rel="stylesheet" href="{% static 'css/plugins/smart.wizard/smart_wizard_theme_dots.min.css'%}" />
  <link rel="stylesheet" href="{% static 'css/plugins/datatables.min.css'%}" />
  <link href="{% static 'css/plugins/metisMenu.min.css'%}" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'css/plugins/sweetalert2.min.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
  <link href="{% static 'css/themes/lite-purple.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/plugins/perfect-scrollbar.min.css' %}" rel="stylesheet" />

</head>